.body{
    background-color: rgba(241, 241, 241, 0.571);
    font-family: Vazir;
    position: relative;
    height: 800px;
}
.grid-item1{
    background-color: white;
    display: grid;
    height: 700px;
    width: 250px;
}
.dot{
    height: 100px;
    width: 100px;
    background-color: #2196F3;
    border-radius: 50%;
}
.pie {
    display: inline-block;
    --w:150px;
    --p:100;--b:10px;--c: #2196F3;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 40px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
  }
.percent{
    padding-right: 25px;
    font-size: 15px;
    color: white;
    font-family: Vazir;
}
.percent1{
    padding-right: 15px;
}
.pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.B{
    margin-top: -110px;
}
.Button{
    font-family: Vazir;
    width: 150px;
    height: 30px;
    margin-right: 40px;
    color: #003865;
    background-color: #2195f313;
    border: none;
    border-radius: 5px;
}
.Info{
    height: 11px;
    width: 11px;
}
.sidetop{
    border-bottom: 1px solid rgba(226, 226, 226, 0.392) ;
    font-size: 10px;
    width: 200px;
    border-collapse: collapse;
    height: 75px;
    margin-top: -150px;
    margin-right: 20px;
}
.gray{
    color:#c2c2c2;
    padding-left: 20px;
}
.sidemiddle{
    margin-top: -155px;
    margin-right: 20px;
}

.sidedown{
    border-top: 1px solid rgba(226, 226, 226, 0.392) ;
    margin-top: -170px;
    padding-top: 20px;
    width: 200px;

}
.ID{
    height: 15px;
    margin-right: -60px;
    margin-top: 5px;
    margin-left: 20px;
}
.TI{
    height: 14px;
    width: 16px;
    margin-right: -70px;
    margin-top: 5px;
    margin-left: 25px;
}
.status{
    height: 15px;
    margin-right: -70px;
    margin-top: 5px;
    margin-left: 25px;
}
.B1{
    width: 220px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    color:#2196F3 ;
    background-color: #2195f313;
    border: none;
    border-radius: 5px;
    font-family: Vazir;   
}
.Bth{
    font-family: Vazir;
    margin-top: 5px;
    background-color: white;
    box-sizing: border-box;
    border: none;
    width: 220px;
    height: 30px;
    margin-right: 10px;
}
.Bth:hover{
    width: 220px;
    background-color: #2195f313;
    border-radius: 5px;
    cursor: pointer;
}

.section1{
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: -690px;
    margin-right: 260px;
    height: 215px;
    margin-left: 10px;
    font-size: 13px;
}
.section2{
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 260px;
    margin-left: 10px;
    height: 215px;
    font-size: 13px;
}
.table2 {
    direction: rtl;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10px;
    width: 550px;
    margin-right: 15px;
}
.border{
    border-bottom: 1px solid rgb(227, 227, 227);
}
.table3 {
    direction: rtl;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 10px;
    width: 300px;
}
.block{
    font-size: 10px;
    color: rgb(163, 163, 163);
    padding-right: 15px;
    padding-top: 10px;
    height: 25px;
    text-align: right;
}
.Check{
    height: 13px;
    margin-right: 10px;
    margin-top: 10px;
}
th{
    width: 60px;
    font-size: 10px;
    color: rgb(163, 163, 163);
    text-align: right;
    padding-bottom: 2px !important;
}
td{
    text-align: right;
}
.topic{
    border-bottom: 2px solid #2196F3;
    padding-top: 20px;
    padding-right: 15px;
}
.table4 {
    direction: rtl;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 10px;
    width: 300px;
}
.table5 {
    direction: rtl;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 10px;
    width: 540px;
}
.jt{
    padding-left: 15px;
}
.red{
    font-size: 5px;
    padding-top: -10px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: rgba(255, 0, 0, 0.055);
    border-radius: 50px;
}
.table6 {
    direction: rtl;
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 10px;
    width: 540px;
}
.accordion {
    background-color: white;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    transition: 0.1s;
    color: #2196F3;
    font-size: 13px;
    padding-top: 0;
    font-family: Vazir;
}
.label{
    position: relative;
    cursor: pointer;
}
.label::before{
    content: "+";
    transform: translateY(-50%) ;
}
.content {
    padding: 0 18;
    background-color: white;
    position: relative;
    overflow: hidden;
    display: none;
    transition: 0.5s;
    overflow-y: auto;
}

