.dot{
    height: 100px;
    width: 100px;
    background-color: #2196F3;
    border-radius: 50%;
}
.pie {
    display: inline-block;
    --w:150px;
    --p:100;--b:10px;--c: #2196F3;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 40px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}
.percent{
    padding-right: 27px;
    font-size: 19px;
    color: white;
    font-family: Vazir;
}
.percent1{
    padding-right: 10px;
    font-size: 18px;
}
.pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.B{
    margin-top: -20px;
}
.Button{
    font-family: Vazir;
    width: 150px;
    height: 30px;
    margin-right: 40px;
    color: #003865;
    background-color: #2195f313;
    border: none;
    border-radius: 5px;
}
.Info{
    margin-top: 5px;
    height: 11px;
    width: 11px;
}
.sidetop{
    margin-top: 10px;
    border-bottom: 2px solid rgba(226, 226, 226, 0.392) ;
    font-size: 10px;
    width: 100%;
    border-collapse: collapse;
    height: 75px;
}
.gray{
    color:#c2c2c2;
    padding-left: 20px;
}
.black{
    color: #000;
}
.sidemiddle{
    margin-top: 10px;
    margin-right: 20px;
}
.sidedown{
    margin-top: 10px;
    border-top: 2px solid rgba(226, 226, 226, 0.392) ;
    padding-top: 20px;
}
.ID{
    height: 15px;
    margin-right: -60px;
    margin-top: 5px;
    margin-left: 20px;
}
.TI{
    height: 14px;
    width: 16px;
    margin-right: -70px;
    margin-top: 5px;
    margin-left: 25px;
}
.status{
    height: 15px;
    margin-right: -70px;
    margin-top: 5px;
    margin-left: 25px;
}
.B1{
    width: 220px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    color:#2196F3 ;
    background-color: #2195f313;
    border: none;
    border-radius: 5px;
    font-family: Vazir;   
}
.Bth{
    font-family: Vazir;
    margin-top: 5px;
    background-color: white;
    box-sizing: border-box;
    border: none;
    width: 220px;
    height: 30px;
    margin-right: 10px;
}
.Bth:hover{
    width: 220px;
    background-color: #2195f313;
    border-radius: 5px;
    cursor: pointer;
} 

.table2{
    direction: rtl;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 10px;
    width: 550px;
}
.table3 {
    direction: rtl;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    width: 300px;
}
.block{
    font-size: 10px;
    color: rgb(163, 163, 163);
    padding-top: 10px;
    height: 25px;
    text-align: right;

}
.Border{
    border-bottom: 1px solid rgba(211, 211, 211, 0.269);}
.Check{
    height: 13px;
    margin-right: 10px;
    margin-top: 10px;
}
th{
    margin-top:100px;
    width: 60px;
    font-size: 10px;
    color: rgb(163, 163, 163);
    text-align: right;
    padding-bottom: 2px !important;
}
td{
    text-align: right;
}
.topic{
    border-bottom: 2px solid #2196F3;
    padding-top: 20px;
    padding-right: 15px;
}
.table4 {
    direction: rtl;
    margin-top: 10px;
    font-size: 10px;
    width: 300px;
}
.table5 {
    direction: rtl;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 10px;
    width: 540px;
}
.jt{
    padding-left: 15px;
}
.red{
    font-size: 5px;
    padding-top: -10px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: rgba(255, 0, 0, 0.055);
    border-radius: 50px;
}
.table6 {
    direction: rtl;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 10px;
    width: 540px;
}
.accordion button {
    background-color: white;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    transition: 0.1s;
    color: #2196F3;
    font-size: 13px;
    padding-top: 0;
    font-family: Vazir;
}
.label{
    position: relative;
    cursor: pointer;
}
.label::before{
    content: "+";
    transform: translateY(-50%) ;
}
.content {
    padding: 0 18;
    background-color: white;
    position: relative;
    display:none;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: visible;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px;
  }
  .box2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 8;
    box-shadow: 0 0 0 15px;
  }
  .box3 {
    margin-right: 10px;
    margin-top: 10px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
.box3 .section1{

    box-sizing: border-box;
    margin-left: 10px;
    font-size: 13px;

}
  .box5 {
    margin-top: 10px;
    margin-right: 10px;
    grid-column-end: 6;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  
* {
    box-sizing: border-box;
    font-family: Vazir;
}
  
  .wrapper {
    border-radius: 5px;
    color: rgb(163, 163, 163);
    background-color: rgba(195, 195, 195, 0.205);
  }
  
  .wrapper > div {
    box-shadow: 3px 3px 5px 5px rgba(220, 220, 220, 0.379);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 1em;
  }
  