.Tablediv{
    direction: rtl;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 30px;
    height: 1000px;
}
h5{
    text-align: right;
    margin-right: 30px;
    margin-top: 20px;
}
.page{
    margin-right: 87%;
    font-size:12px;
    opacity: 40%;
    margin-left: 5px;
}
.N{
    margin-right: 10px;
    width: 15px;
    height: 18px;
    opacity: 40%;
    border: 1px solid gray;
    border-radius:5px;
    margin-left:10px;
} 
.P{
    width: 15px;
    height: 18px;
    opacity: 40%;
    border: 1px solid gray;
    border-radius:5px;
} 
.table1 {
    margin-top: 10px;
    margin-right: 20px;
    border-bottom: 1px solid rgb(175, 175, 175);
    width: 100%;
    height: 300px;
    font-size: 10px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr 4fr 2fr 2fr 2fr 2fr 2fr 4fr 1fr ;
    grid-template-rows: 30px;
    grid-column: 12;
    grid-row: 7;
    cursor: text;
}
.Red{
    width: 13px ;
    height: 13px;
    padding-left: 15px !important;
}
.Yellow{
    width: 13px;
    height: 13px;
    padding-left: 15px !important;
}
.Note{
    height: 13px;
    width: 10px;
}
.head{
    font-weight: bold;
    padding-right: 10px;
    height: 30px;
    color: rgb(185, 185, 185);
    border-bottom: 1px solid rgb(175, 175, 175);
}
.row span{
    top:30%;
    padding-top: 5px;
    padding-right:15px;
    position: relative;    
}
.border{
    position: absolute;
    width: 100%;
    height: 60%;
    left: 0;
    border-bottom: none !important;
    border-right: 1px solid rgba(44,44,44,0.1);
}
.row{
    display: contents;
}
.row::after{
    content: text;
    display: inline-block;
}
.row:hover::after{
    background-color: #4286f433;
}
.firstrow{
    display: contents;
}
.hover:hover{
    background-color: #4286f433;
}
.back{
    background-color: rgba(201, 201, 201, 0.112);
}
.arrow{
    height: 13px;
    margin-right: 25px;
    padding: 3px;
    background-color: rgba(0, 143, 95, 0.164);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.magnifier{
    height: 11px;
    margin-right: 5px;
    padding: 4px;
    background-color: rgba(101, 101, 101, 0.164);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.waiting a{
    background-color: rgba(255, 219, 151, 0.232);
    border-radius: 10px;
    padding: 2px;
    color: rgb(255, 166, 0);           
}
.faild a{
    background-color: rgba(255, 151, 151, 0.232);
    border-radius: 10px;
    padding: 2px;
    color: rgb(255, 0, 0);  
}
.Num{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    opacity: 40%;
    margin-right: 100%;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    
}