.Tablediv{
    direction: rtl;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 30px;
}
h5{
    text-align: right;
    margin-right: 30px;
    margin-top: 20px;
}
.table1 {
    margin-top: 20px;
    margin-right: 20px;
    border-bottom: 1px solid rgb(175, 175, 175);
    width: 100%;
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 5fr 2fr 2fr 2fr 2fr 2fr 4fr 2fr ;
    grid-template-rows: repeat(7, 1fr);
    grid-column: 12;
    grid-row: 7;
    height: 10%;
    column-gap: 0;
    row-gap: 0;
    cursor: text;
}
.Red{
    width: 13px ;
    height: 13px;
}
.Yellow{
    width: 13px;
    height: 13px;
}
.Note{
    height: 13px;
    width: 10px;
}

.head{
    font-weight: bold;
    padding-right: 10px;
    height: 30px;
    color: rgb(185, 185, 185);
    border-bottom: 1px solid rgb(175, 175, 175);
}
.row span{
    padding-top: 10px;
    padding-right: 10px;
    position: relative;    
    width: 100%;
    height: 60%;
    top: 15%;
    left: 0;
    border-right: 1px solid rgba(44,44,44,0.1);
}

.table1 .head::after{
    border-right:0;
}
.table1 .right::after{
    border-right:0;
}
.row {
    display: contents;
}
.firstrow{
    display: contents;
}
  
.row:hover span{
    background-color: #dbeaf486;

}
.arrow{
    height: 13px;
    margin-right: 25px;
    padding: 3px;
    background-color: rgba(0, 143, 95, 0.164);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.magnifier{
    height: 11px;
    margin-right: 5px;
    padding: 4px;
    background-color: rgba(101, 101, 101, 0.164);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.waiting a{
    background-color: rgba(255, 219, 151, 0.232);
    border-radius: 10px;
    padding: 2px;
    color: rgb(255, 166, 0);            
}
.faild a{ 
    background-color: rgba(255, 151, 151, 0.232);
    border-radius: 10px;
    padding: 2px;
    color: rgb(255, 0, 0);  
}