table {
    border-collapse: collapse;
    direction: rtl;
    border-bottom: 1px solid rgb(175, 175, 175);
    margin-top: 150px;
}

th, td {
    padding: 10px;
    text-align: center;
}

.white-row {
    background-color: white;
}

.gray-row {
    background-color: rgb(225, 225, 225);
}
